/* --------------------------------------------------- */
/* roll20 fix */
/* --------------------------------------------------- */
.charsheet *, .charsheet::after, .charsheet::before {
    box-sizing: border-box;
}

.charsheet * {
    font-size: 1rem;
    line-height: 1rem;
}

.charsheet *::before, .charsheet *::after {
    font-size: inherit;
    line-height: inherit;
}

.charsheet input, .charsheet select, .charsheet textarea {
    display: inline-block;
    width: 100% !important;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.charsheet button[type="roll"] {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    box-shadow: none;
}

.charsheet button[type="roll"]:hover {
    background-position: 0 0 !important;
}

.charsheet label {
    margin: 0;
    padding: 0;
}

.charsheet .repcontainer .repitem .itemcontrol {
    z-index: 999;
}
/* --------------------------------------------------- */
/* flex */
/* --------------------------------------------------- */
.sheet-flex-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: -0.5rem;
}

.sheet-flex-col,
.sheet-flex-col2,
.sheet-flex-col3,
.sheet-flex-col4,
.sheet-flex-col5,
.sheet-flex-col6,
.sheet-flex-col7,
.sheet-flex-col8,
.sheet-flex-col9,
.sheet-flex-col10,
.sheet-flex-col11 {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 0.5rem;
}
.sheet-flex-col  { max-width: 100%;}
.sheet-flex-col1  { max-width: 8.333333%;}
.sheet-flex-col2  { max-width: 16.666667%;}
.sheet-flex-col3  { max-width: 25%;}
.sheet-flex-col4  { max-width: 33.333333%;}
.sheet-flex-col5  { max-width: 41.666667%;}
.sheet-flex-col6  { max-width: 50%;}
.sheet-flex-col7  { max-width: 58.333333%;}
.sheet-flex-col8  { max-width: 66.666667%;}
.sheet-flex-col9  { max-width: 75%;}
.sheet-flex-col10 { max-width: 83.333333%;}
.sheet-flex-col11 { max-width: 91.666667%;}

.sheet-flex-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

/* --------------------------------------------------- */
/* input group */
/* --------------------------------------------------- */
.sheet-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.sheet-input-group > * + * {
    margin-left: 0.5rem;
}

.sheet-input-group input, .charsheet .sheet-input-group select {
    flex: 1 1 auto;
    width: 1% !important;
    height: 2.6rem;
    line-height: 2.6rem;
}

.sheet-input-group .sheet-input-group-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.sheet-input-group-prepend {}

.sheet-input-group-append {}

.sheet-input-group-text {
    text-align: center;
    white-space: nowrap;
    align-items: center;
    line-height: 2.6rem;
}

/* --------------------------------------------------- */
/* accordion */
/* --------------------------------------------------- */
.sheet-accordion {
    position: relative;
}

.sheet-accordion-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 2rem !important;
    height: 100% !important;
    opacity: 0;
    z-index: 2;
}

.sheet-accordion-label {
    min-height: 2.6rem;
}

.sheet-accordion-container {
    padding-left: 3rem;
    min-height: 2rem;
}

.sheet-accordion-container::before {
    display: block;
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 100%;
    line-height: 2.6rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.sheet-accordion-checkbox:not(:checked) ~ .sheet-accordion-container .sheet-accordion-content {
    display: none;
}

.sheet-accordion-checkbox:not(:checked) ~ .sheet-accordion-container::before {
    content: "+";
}

/* --------------------------------------------------- */
/* checkbox switch */
/* --------------------------------------------------- */
.sheet-switch {
    position: relative;
    display: inline-block;

}

.sheet-switch input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 1;
}

.sheet-switch-on, .sheet-switch-off {
    width: 100%;
    height: 100%;
}

.sheet-switch-on {
    display: none;
}

.sheet-switch-off {
    display: none;
}

.sheet-switch input:checked ~ .sheet-switch-on {
    display: block;
}

.sheet-switch input:not(:checked) ~ .sheet-switch-off {
    display: block;
}

/* --------------------------------------------------- */
/* checkbox coin */
/* --------------------------------------------------- */
.sheet-coin {
    perspective: 1000rem;
    position: relative;
    display: inline-block;
}

.sheet-coin input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 3;
}

.sheet-coin-content {
    position: relative;
    transition: 0.25s;
    transform-style: preserve-3d;
}

.sheet-coin-on, .sheet-coin-off {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgray;
    border-radius: 1.3rem;
    backface-visibility: hidden;
}

.sheet-coin-on {
    z-index: 2;
    transform: rotateY(180deg); /* for firefox 31 */
}

.sheet-coin-off {
    z-index: 1;
    transform: rotateY(0deg);
}

.sheet-coin input:checked ~ .sheet-coin-content {
    transform: rotateY(180deg);
    animation-name: coin-frames;
    animation-duration: 0.25s;
}

@keyframes coin-frames {
    0%  	{ transform: scale(1); }
    50%     { transform: scale(1.2);}
    100%	{ transform: scale(1); }
}

/* --------------------------------------------------- */
/* content */
/* --------------------------------------------------- */

@font-face {
    font-family: "Dancing Script";
    src: url("https://github.com/aloade/pathfinder/raw/master/fonts/DancingScript.ttf") format("truetype");
}

@font-face {
    font-family: "Julietta Messie";
    src: url("https://github.com/aloade/pathfinder/raw/master/fonts/Julietta-Messie.ttf") format("truetype");
}

.charsheet * {
    font-family: Julietta Messie, Patrick Hand, Arial, Sans;
    /* Arial, Patrick Hand, Contrail One, Shadows Into Light, Candal */
    font-size: 1.6rem;
    color: rgb(56, 61, 65);
}

.charsheet {
    background: rgb(201, 183, 126) url("https://github.com/aloade/pathfinder/raw/master/image/noise_dark.jpg") repeat top left;
}

/* section */
.sheet-section-header {
    margin-left: auto;
    margin-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 1px 0.75rem;
}

.sheet-section-header input[disabled] {
    border-bottom: none;
}

.sheet-section {
    margin-bottom: 2rem;
}

.sheet-section input:disabled {
    background: transparent repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 5px, transparent 5px, transparent 7px);
    border: none;
}

.sheet-section input.sheet-strong:disabled {
    background: rgba(0, 0, 0, 0.07);
    border: none;
}

.sheet-section .sheet-input-group.sheet-disabled {
    background: transparent repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 5px, transparent 5px, transparent 7px);
}

.sheet-section .sheet-input-group.sheet-disabled input, .sheet-section  .charsheet .sheet-input-group.sheet-disabled select {
    background: none !important;
}

/* generic */
.sheet-center {
    text-align: center;
}

.sheet-strong {
    font-weight: bold;
    font-size: 110%;
}

.sheet-bold {
    font-weight: bold;
}
.sheet-alert {
    font-family: "Pictos";
    color: rgb(220, 53, 69);
}

.sheet-alert::after {
    content : "!";
}

.sheet-fixed-small {
    min-width: 6rem;
}

.sheet-fixed-medium {
    min-width: 13rem;
}

.sheet-fixed-large {
    min-width: 18rem;
}

input, select {
    display: inline-block;
    background-color: transparent;
    width: auto;
    text-align: center;
    border: none;
    height: 2.6rem !important;
    line-height: 2.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input.sheet-text-left {
    text-align: left !important;
    padding-left: 0.25rem;
}

input.sheet-text-right {
    text-align: right !important;
    padding-right: 0.25rem;
}

textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    resize: vertical;
    min-height: 5.1rem;
    padding: 1rem;
    line-height: 1.6rem;
}

button[type="roll"], .sheet-fake-button-roll {
    width: 2.8rem;
}

button[type="roll"] {
    height: 2.8rem;
    font-size: 150% !important;
    line-height: 2.8rem;
    color: rgb(50, 50, 50);
    font-weight: bold;
    background: none;
}

.sheet-coin, .sheet-coin-face {
    width: 2.6rem;
    height: 2.6rem;
}

.sheet-coin-face {
    display: block;
    line-height: calc(2.6rem - 4px);
    font-size: 75%;
    border-radius: 50%;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
}

.sheet-coin-on {
    color: rgb(52, 52, 52);
    background: rgb(182,182,182) linear-gradient(-45deg, rgb(182,182,182), rgb(212,212,212));
    border-color: rgb(172,172,172);
}

.sheet-coin-off {
    color: rgb(192, 192, 192);
    background: rgb(152,152,152) linear-gradient(-45deg, rgb(192,192,192), rgb(152,152,152));
    border-color: rgb(142, 142, 142);
}


.sheet-switch {
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-top: 2px;
}

.sheet-switch-on {
    border: 2px solid rgb(221, 200, 139);
    background-color: rgb(50, 50, 50);
    border-radius: 50%;
}

/* header */
.sheet-header {
    margin: 0 0 2rem;
}

.sheet-header input {
    border: none;
}

.sheet-header td {
    text-align: right;
}

.sheet-header-character, .sheet-header-player {
    height: 6rem;
}

.sheet-header-character input {
    font-size: 180%;
    height: 5rem !important;
    font-family: Dancing Script;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.sheet-header-player input {
}

.sheet-header span[title] {
    text-decoration: underline dashed rgb(50, 50, 50);
    cursor: help;
}

.sheet-header-stat {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

/* nav */
.sheet-tab {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sheet-tab > input {
    display: none;
}

.sheet-tab > label {
    display: block;
    width: auto;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.25s ease;
}

.sheet-tab > label span {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0.2rem 1.5rem;
    background-image: url("https://github.com/aloade/pathfinder/raw/master/image/icons_transparent.png");
    background-repeat: no-repeat;
    background-size: 160px 160px;
    opacity: 0.6;
    transition: opacity 0.25s ease;
}

.sheet-tab-character    { background-position: 0 0;}
.sheet-tab-battle       { background-position: -40px 0;}
.sheet-tab-defense      { background-position: -80px 0;}
.sheet-tab-magic        { background-position: -120px 0;}
.sheet-tab-skill        { background-position: 0 -40px;}
.sheet-tab-feat         { background-position: -40px -40px;}
.sheet-tab-inventory    { background-position: -80px -40px;}
.sheet-tab-note         { background-position: -120px -40px;}

/* nav content */
.sheet-tab-content {
    position: relative;
    flex-grow: 7;
    width: 100%;
    display: none;
    padding: 1rem;
    background: rgb(221, 200, 139) url("https://github.com/aloade/pathfinder/raw/master/image/noise_light.jpg") repeat top left;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
}

.sheet-tab > label:hover span {
    opacity: 1;
}

.sheet-tab > input:checked + label {
    background: rgb(221, 200, 139) url("https://github.com/aloade/pathfinder/raw/master/image/noise_light.jpg") repeat top left;
}

.sheet-tab > input:checked + label span {
    opacity: 1;
}

.sheet-tab > input:checked:nth-of-type(1) ~ .sheet-tab-content:nth-of-type(1),
.sheet-tab > input:checked:nth-of-type(2) ~ .sheet-tab-content:nth-of-type(2),
.sheet-tab > input:checked:nth-of-type(3) ~ .sheet-tab-content:nth-of-type(3),
.sheet-tab > input:checked:nth-of-type(4) ~ .sheet-tab-content:nth-of-type(4),
.sheet-tab > input:checked:nth-of-type(5) ~ .sheet-tab-content:nth-of-type(5),
.sheet-tab > input:checked:nth-of-type(6) ~ .sheet-tab-content:nth-of-type(6),
.sheet-tab > input:checked:nth-of-type(7) ~ .sheet-tab-content:nth-of-type(7),
.sheet-tab > input:checked:nth-of-type(8) ~ .sheet-tab-content:nth-of-type(8) {
    display: block;
}

.sheet-tab-content {
    min-height: 50rem;
}

.sheet-tab-content h1 {
    font-size: 200%;
    line-height: 2.5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(50, 50, 50);
}

.sheet-tab-content h2 {
    font-size: 140%;
    line-height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: rgb(50, 50, 50);
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.sheet-tab-content table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.sheet-tab-content table thead th, .sheet-tab-content .sheet-thead {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 2rem;
    font-size: 105%;
    font-weight: bold;
}

.sheet-tab-content span[title]:not(.sheet-alert) {
    text-decoration: underline dashed rgb(50, 50, 50);
    cursor: help;
}

.sheet-tab-content table td + td {
    padding: 0.25rem;
}

.sheet-tab-content-break {
    height: 2.5rem;
    margin-bottom: 2rem;
    background: url("https://github.com/aloade/pathfinder/raw/master/image/break.png") no-repeat center;
    background-size: contain;
}

/* skill */
.sheet-skill-summary {
    width: 25%;
}

.sheet-skill {}

/* feat racial */
.sheet-featracial {}

.sheet-featracial-content {
    margin-bottom: 1rem;
}

.sheet-featracial-label {
    display: block;
    border: none;
    margin-top: 0.5rem;
}

.sheet-featracial-description-short {}

.sheet-featracial-description {
    height: 15rem;
}

/* feat */
.sheet-feat {}

.sheet-feat-content {
    margin-bottom: 1rem;
}

.sheet-feat span {
    display: inline-block;
}

.sheet-feat-description-short {
    display: block;
    border: none;
    margin-top: 0.5rem;
}

.sheet-feat-description {
    height: 15rem;
}

.sheet-initiative {}

.sheet-initiative table {
    width: 40%;
}

/* battle */
.sheet-battle {}

.sheet-battle-roll {
    width: 2.8rem;
    margin-top: 1rem;
}

.sheet-battle-content {
    margin-bottom: 1rem;
}

.sheet-battle-subcontent {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    position: relative;
}

.sheet-battle-subcontent table, .sheet-battle-subcontent textarea,{
    margin-top: 1rem;
}

.sheet-battle-name {
    border: none;
}

.sheet-battle-subcontent textarea {
    min-height: 6rem;
}

/* magic - nls */
.sheet-nls {}
.sheet-nls > table {
    width: 40%;
}

/* magic - spell */
.sheet-spell {}

.sheet-spell-roll {
    width: 2.8rem;
    margin-top: 1rem;
}

.sheet-spell-content {
    margin-bottom: 1rem;
}

.sheet-spell-subcontent {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    position: relative;
}

.sheet-spell-subcontent table {
    margin-top: 1rem;
}

.sheet-spell textarea {
    margin-top: 1rem;
    min-height: 15.8rem;
}

/* equipement pruse */
.sheet-equipment-purse {
    width: 40%
}

.sheet-equipment-purse .sheet-device {
    display: inline-block;
    width: calc(1.5rem - 2px);
    height: calc(1.5rem - 2px);
    border: 2px solid transparent;
    border-radius: 100%;
}

.sheet-equipment-purse .sheet-device-gold {
    background-color: rgb(255,223,0);
    border-color: rgb(215,193,0);
}

.sheet-equipment-purse .sheet-device-silver {
    background-color: rgb(192,192,192);
    border-color: rgb(152,152,152);
}

.sheet-equipment-purse .sheet-device-copper {
    background-color: rgb(184, 115, 51);
    border-color: rgb(144, 75, 11);
}

/* eqipment - weapon */
.sheet-equipment-weapon {
    margin-bottom: 1rem;
}

.sheet-equipment-weapon-content {}

.sheet-equipment-weapon-content select {
    width: 60px !important;
}

/* equipment - armor */
.sheet-equipment-summary {

}

.sheet-equipment-summary .sheet-input-group {
    width: 30%;
    margin-bottom: 1rem;
}

/* equipment - magic */
.sheet-equipment-magic {}

.sheet-equipment-magic table {
    background: url("https://github.com/aloade/pathfinder/raw/master/image/equipment-magic.png") no-repeat center;
    background-size: contain;
}

.sheet-equipment-magic tbody tr td:first-child {
    text-align: right;
    padding-right: 0.5rem;
}

/* note */
.sheet-note {

}

.sheet-note-label {
    border: none;
    margin-left: 1rem;
}

.sheet-note-content {
    min-height: 10rem;
    height: 15rem;
}

/* not used */
.sheet-battlemoves {}
.sheet-character {}
.sheet-class {}
.sheet-devise {}
.sheet-equipment-armor {}
.sheet-inventory1 {}
.sheet-inventory2 {}
.sheet-inventory-description {}
.sheet-inventory-quantity {}
.sheet-magic-resistance {}
.sheet-contact-attack {}
.sheet-stat {}
.sheet-saves {}

/* --------------------------------------------------- */
/* rolltemplate */
/* --------------------------------------------------- */

/* generic */
.sheet-rolltemplate-roll {
    padding: 0.5rem;
    background: rgb(221, 200, 139) url("https://github.com/aloade/pathfinder/raw/master/image/noise_light.jpg") repeat top left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}

.sheet-rolltemplate-roll p {
    margin: 0;
}

.sheet-rolltemplate-roll span[title]:not(.inlinerollresult ) {
    text-decoration: underline dashed rgb(50, 50, 50);
    cursor: help;
}

.sheet-rolltemplate-roll .inlinerollresult {
    display: inline-block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-align: center;
    line-height: calc(2.1rem);
    font-weight: bold;
    background-color: rgb(230, 230, 230);
}

/* flex */
.sheet-rolltemplate-roll .sheet-flex-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.5rem;
}

.sheet-rolltemplate-roll .sheet-flex-col {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 0.5rem;
}

.sheet-rolltemplate-roll .sheet-left {
    text-align: left;
}

/* content */
.sheet-rolltemplate-roll .sheet-right {
    text-align: right;
}

.sheet-rolltemplate-roll .sheet-center {
    text-align: center;
}

.sheet-rolltemplate-roll .sheet-danger {
    color: rgb(220, 53, 69);
    font-weight: bold;
}

/* basic */
.sheet-rolltemplate-roll .sheet-basic {}

/* battle */
.sheet-rolltemplate-roll .sheet-battle {
    background: url("https://github.com/aloade/pathfinder/raw/master/image/versus.png") no-repeat center;
    background-size: contain;
}

.sheet-rolltemplate-roll .sheet-center {
    margin-top: 1rem;
}

/* NLS */
.sheet-rolltemplate-roll .sheet-nls {
    background: url("https://github.com/aloade/pathfinder/raw/master/image/pentacle.png") no-repeat center;
    background-size: contain;
}
