/* --------------------------------------------------- */
/* roll20 fixed */
/* --------------------------------------------------- */
html, body {
    font-size: 16px;
    margin: 0;
}

.charsheet {
    padding : 0 !important;
    margin : 0;
}

.charsheet *, .charsheet *::after, .charsheet *::before {
    box-sizing: border-box;
}

.charsheet * {
    font-size: 1rem;
    line-height: 1rem;
}

.charsheet *::before, .charsheet *::after {
    font-size: inherit;
    line-height: inherit;
}

.charsheet table th, .charsheet table td {
    padding: 0;
}

.charsheet button[type="roll"]:not(.sheet-button) {
    padding: 0;
    margin: 0;
    text-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: unset;
    background-color: transparent;
    background-repeat: unset;
}

.charsheet input, .charsheet select, .charsheet textarea {
    display: inline-block;
    width: 100% !important;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.charsheet label {
    margin: 0;
    padding: 0;
}

.charsheet .repcontainer .repitem .itemcontrol {
    z-index: 999;
}

.charsheet .repcontrol {
    min-height: 1.7rem;
}

/* --------------------------------------------------- */
/* preload */
/* --------------------------------------------------- */
/* force download for not visible images */
.sheet-cache {
    background-image: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/button.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/select_dropdown.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/dice.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/wax_seal.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/title.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/sheets-static.png")
    , url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/modal.png");
    width: 0;
    height: 0;
    display: inline;
}

/* --------------------------------------------------- */
/* common */
/* --------------------------------------------------- */

/* note :
1rem is relative to html
0.625rem = 10px
*/

@font-face {
    font-family: "Formal 436";
    src: url("https://github.com/aloade/pathfinder/raw/master/fonts/Formal436.ttf") format("truetype");
}

@font-face {
    font-family: "Dancing Script";
    src: url("https://github.com/aloade/pathfinder/raw/master/fonts/DancingScript.ttf") format("truetype");
}

.charsheet {
    box-shadow: 0 0 0.625rem rgb(20, 20, 20);
    margin: 10px;
}

.charsheet .sheet-locale {
    display: none;
}

.charsheet * {
    font-size: 1rem !important;
    box-sizing: border-box;
    font-family: "Formal 436 BT", "Book Antiqua", "Patrick Hand", sans-serif;
    /* Arial, Patrick Hand, Contrail One, Shadows Into Light, Candal */
    color: rgb(56, 61, 65);
    line-height: 1rem;
}

.charsheet .sheet-text-center {
    text-align: center;
}

.charsheet .sheet-text-strong {
    font-weight: bold;
    font-size: 110%;
}

.charsheet .sheet-text-bold {
    font-weight: bold;
}

.charsheet .sheet-alert,
.charsheet .sheet-chain,
.charsheet .sheet-cog {
    font-family: "Pictos", sans-serif;
}

.charsheet .sheet-alert {
    color: rgb(220, 53, 69);
    padding-right: 0.25rem;
}

.charsheet .sheet-alert::after {
    content : "!";
}

.charsheet .sheet-chain::after {
    content : "j";
}

.charsheet .sheet-cog::after {
    content : "y";
}

.charsheet small {
    color: rgb(108, 117, 125);
    font-size: 80%;
}

.charsheet .sheet-fixed-small {
    min-width: 3rem;
}

.charsheet .sheet-fixed-medium {
    min-width: 7rem;
}

.charsheet .sheet-fixed-large {
    min-width: 11rem;
}

.charsheet input,
.charsheet select {
    background-color: transparent;
    width: auto;
    text-align: center;
    border: none;
    height: 1.5rem;
    margin: 0;
    line-height: 1.5rem;
}

/* "text-align-last:center; " chrome hack for 'text-align: center' */
.charsheet select {
    text-align-last:center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    background: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/select_dropdown.png") no-repeat center right;
    padding-right: 0.625rem !important;
    cursor: pointer;
}

.charsheet select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.charsheet input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

/* chrome hack for "appearance: textfield' on 'input[type="number"]' */
.charsheet input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.charsheet input:focus,
.charsheet select:focus,
.charsheet textarea:focus,
.charsheet button:focus {
    outline: none;
}

.charsheet .sheet-text-left {
    text-align: left !important;
}

.charsheet .sheet-text-right {
    text-align: right !important;
}

button[type="roll"]:not(.sheet-button), .sheet-fake-button-roll {
    width: 2rem;
}

button[type="roll"]:not(.sheet-button) {
    height: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/dice.png") no-repeat;
    background-size: 2rem 2rem;
    cursor: pointer;
}

.sheet-button,
.sheet-button-fake {
    min-width: 1.7rem;
}

.sheet-button::before {
    content: "" !important;
    display: block;
    border-radius: 3px;
    box-shadow: rgb(98, 114, 126) 0 2px 5px;
    height: 100%;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.sheet-button,
.sheet-button-switch {
    position: relative;
    height: 1.7rem;
    line-height: 1.5rem;
    padding: 0 0.6rem;
    text-align: center;
    color: rgb(246, 226, 195);
    background-color: rgb(75, 38, 22);
    border: 2px solid rgb(150, 120, 50);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/button.png");
    border-image-slice: 49 fill;
    border-image-width: 1rem;
    border-image-repeat: round;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: color 0.35s ease;
}

.sheet-button:hover, .sheet-button:hover select,
.sheet-button-switch:hover {
    color: rgb(255, 255, 255);
}

.sheet-button:active,
.sheet-button-switch:active {
    box-shadow: inset 0 0.625rem 1rem 0 #c4c4c4;
    top:2px;
}

.sheet-button-small {
    width: 1.7rem;
    padding: 0;
}

.sheet-button span {
    color: inherit;
}

.sheet-button .sheet-input-group .sheet-input-group-text span {
    color: rgb(150, 150, 150);
}

.sheet-button select {
    width: 100%;
    color: rgb(246, 226, 195);
    background: none;
    transition: color 0.35s ease;
}

.sheet-button-switch {
}

.sheet-button-switch input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.charsheet .sheet-button-switch-face {
    position: absolute;
    top: 50%;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    line-height: 1.5rem;
    transition: opacity 0.25s ease;
    border-radius: 50%;
    color: inherit;
    border: none;
    transform: translate(-50%, -50%);
}

.charsheet .sheet-button-switch input:checked ~ .sheet-button-switch-face {
    background-color: rgb(255, 0, 0);
    box-shadow: inset 0 0 0.25rem rgb(0, 0, 0), 0 0 1rem rgba(255, 0, 0, 0.75);
}

.charsheet .sheet-button-switch input:not(:checked) ~ .sheet-button-switch-face {
    background-color: rgb(90, 0, 0);
    box-shadow: inset 0 0 0.25rem rgb(0, 0, 0), 0 0 1rem rgba(90, 0, 0, 0.75);
}

.charsheet .sheet-button-switch-label {
    padding-left: 1rem;
    color: inherit;
}

/* repeating controls */
.charsheet .repcontrol {
    margin-top: 1rem;
}
.charsheet .btn.repcontrol_add,
.charsheet .btn.repcontrol_edit,
.charsheet .btn.repcontrol_move,
.charsheet .btn.repcontrol_del {
    position: relative;
    height: 1.7rem;
    line-height: 1.5rem;
    padding: 0 0.6rem;
    text-align: center;
    color: rgb(246, 226, 195);
    background-color: rgb(75, 38, 22);
    border: 2px solid rgb(150, 120, 50);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/button.png");
    border-image-slice: 49 fill;
    border-image-width: 1rem;
    border-image-repeat: round;
    box-shadow: 0 2px 5px rgb(100, 100, 100);
    transition: color 0.35s ease;
}

.charsheet .btn.repcontrol_move,
.charsheet .btn.repcontrol_del {
    font-family: "Pictos";
}

.charsheet .btn.repcontrol_add:hover,
.charsheet .btn.repcontrol_edit:hover,
.charsheet .btn.repcontrol_move:hover,
.charsheet .btn.repcontrol_del:hover {
    color: rgb(255, 255, 255);
}

.charsheet .btn.repcontrol_add:active,
.charsheet .btn.repcontrol_edit:active,
.charsheet .btn.repcontrol_move:active,
.charsheet .btn.repcontrol_del:active {
    box-shadow: inset 0 0.625rem 1rem 0 #c4c4c4;
    top:2px;
}

.charsheet .repcontainer.editmode div.repitem .itemcontrol {
    transition: all 0.35s ease;
    background: transparent repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0, 0, 0, 0.04) 2px, rgba(0, 0, 0, 0.04) 7px);
}

.charsheet .repcontainer.editmode div.repitem:hover .itemcontrol {
    background: transparent repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 7px) !important ;
}

/* flex */
.charsheet .sheet-flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.5rem;
}

.charsheet .sheet-flex-col,
.charsheet .sheet-flex-col2,
.charsheet .sheet-flex-col3,
.charsheet .sheet-flex-col4,
.charsheet .sheet-flex-col5,
.charsheet .sheet-flex-col6,
.charsheet .sheet-flex-col7,
.charsheet .sheet-flex-col8,
.charsheet .sheet-flex-col9,
.charsheet .sheet-flex-col10,
.charsheet .sheet-flex-col11 {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 0.5rem;
}
.charsheet .sheet-flex-col   { max-width: 100%;}
.charsheet .sheet-flex-col1  { max-width: 8.333333%;}
.charsheet .sheet-flex-col2  { max-width: 16.666667%;}
.charsheet .sheet-flex-col3  { max-width: 25%;}
.charsheet .sheet-flex-col4  { max-width: 33.333333%;}
.charsheet .sheet-flex-col5  { max-width: 41.666667%;}
.charsheet .sheet-flex-col6  { max-width: 50%;}
.charsheet .sheet-flex-col7  { max-width: 58.333333%;}
.charsheet .sheet-flex-col8  { max-width: 66.666667%;}
.charsheet .sheet-flex-col9  { max-width: 75%;}
.charsheet .sheet-flex-col10 { max-width: 83.333333%;}
.charsheet .sheet-flex-col11 { max-width: 91.666667%;}

.charsheet .sheet-flex-col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

/* accordion */
.charsheet .sheet-accordion {
    position: relative;
}

.charsheet .sheet-accordion-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 2rem !important;
    height: 100% !important;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.charsheet .sheet-accordion-label {
    min-height: 2.6rem;
}

.charsheet .sheet-accordion-container {
    padding-left: 3rem;
    min-height: 2rem;
}

.charsheet .sheet-accordion-container::before {
    display: block;
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 100%;
    line-height: 2.6rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.charsheet .sheet-accordion-checkbox:not(:checked) ~ .sheet-accordion-container .sheet-accordion-content {
    display: none;
}

.charsheet .sheet-accordion-checkbox:not(:checked) ~ .sheet-accordion-container::before {
    content: "+";
}

/* tab */
.charsheet .sheet-tab {
    position: relative;
}

.charsheet .sheet-tab > input, .charsheet .sheet-tab > label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.charsheet .sheet-tab > input {
    opacity: 0;
    margin: 0;
    z-index: 3;
    cursor: pointer;
}

.charsheet .sheet-tab > input:checked:nth-of-type(1) ~ label:nth-of-type(1),
.charsheet .sheet-tab > input:checked:nth-of-type(2) ~ label:nth-of-type(2),
.charsheet .sheet-tab > input:checked:nth-of-type(3) ~ label:nth-of-type(3),
.charsheet .sheet-tab > input:checked:nth-of-type(4) ~ label:nth-of-type(4),
.charsheet .sheet-tab > input:checked:nth-of-type(5) ~ label:nth-of-type(5),
.charsheet .sheet-tab > input:checked:nth-of-type(6) ~ label:nth-of-type(6),
.charsheet .sheet-tab > input:checked:nth-of-type(7) ~ label:nth-of-type(7),
.charsheet .sheet-tab > input:checked:nth-of-type(8) ~ label:nth-of-type(8),
.charsheet .sheet-tab > input:checked:nth-of-type(9) ~ label:nth-of-type(9),
.charsheet .sheet-tab > input:checked:nth-of-type(10) ~ label:nth-of-type(10) {
    z-index: 4;
}

.charsheet .sheet-tab > div:not(.sheet-tab-menu):not(.sheet-note):not(.sheet-tab-slider) {
    display: none;
}

.charsheet .sheet-tab > input:checked:nth-of-type(1) ~ div:nth-of-type(1),
.charsheet .sheet-tab > input:checked:nth-of-type(2) ~ div:nth-of-type(2),
.charsheet .sheet-tab > input:checked:nth-of-type(3) ~ div:nth-of-type(3),
.charsheet .sheet-tab > input:checked:nth-of-type(4) ~ div:nth-of-type(4),
.charsheet .sheet-tab > input:checked:nth-of-type(5) ~ div:nth-of-type(5),
.charsheet .sheet-tab > input:checked:nth-of-type(6) ~ div:nth-of-type(6),
.charsheet .sheet-tab > input:checked:nth-of-type(7) ~ div:nth-of-type(7),
.charsheet .sheet-tab > input:checked:nth-of-type(8) ~ div:nth-of-type(8),
.charsheet .sheet-tab > input:checked:nth-of-type(9) ~ div:nth-of-type(9),
.charsheet .sheet-tab > input:checked:nth-of-type(10) ~ div:nth-of-type(10) {
    display: block;
}

/* input group */
.charsheet .sheet-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.charsheet .sheet-input-group > * + * {
    margin-left: 0.5rem;
}

.charsheet .sheet-input-group input,
.charsheet .sheet-input-group select {
    flex: 1 1 auto;
    width: 1% !important;
}

.charsheet .sheet-input-group-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.charsheet .sheet-input-group-text * {
    text-align: center;
    white-space: nowrap;
    line-height: 1.5rem;
}

/* checkbox was seal */
.charsheet .sheet-waxseal {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.charsheet .sheet-waxseal input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.charsheet .sheet-waxseal-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    line-height: 1.5rem;
    transition: opacity 0.25s ease;
}

.charsheet .sheet-waxseal-on {
    background: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/wax_seal.png") no-repeat center;
    background-size: 100% 100%;
    opacity: 1;
    color: rgb(70, 0, 3);
}

.charsheet .sheet-waxseal input:not(:checked) ~ .sheet-waxseal-on {
    opacity: 0;
}

.charsheet .sheet-waxseal-off {
    opacity: 0;
}

.charsheet .sheet-waxseal input:not(:checked) ~ .sheet-waxseal-off {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

/* checkbox coin */
.charsheet .sheet-coin {
    width: 1.5rem;
    height: 1.5rem;
}

.charsheet .sheet-coin {
    perspective: 1000rem;
    position: relative;
    display: inline-block;
}

.charsheet .sheet-coin input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.charsheet .sheet-coin-content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.25s;
    transform-style: preserve-3d;
}

.charsheet .sheet-coin-face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.3rem;
    font-size: 75%;
    border-radius: 50%;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
}

.charsheet .sheet-coin-on,
.charsheet .sheet-coin-off {
    background-color: lightgray;
    border-radius: 50%;
    backface-visibility: hidden;
}

/* "transform: rotateY(180deg);" for firefox 31 */
.charsheet .sheet-coin-on {
    background-color: rgb(207, 181, 59);
    border-color: rgb(255, 200, 46);
    color: rgb(240, 196, 27);
    box-shadow: 0 2px rgb(207, 181, 59), 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 2;
    transform: rotateY(180deg);
}

.charsheet .sheet-coin-off {
    text-decoration: line-through;
    background-color: rgb(192, 201, 210);
    border-color: rgb(213, 221, 227);
    color: rgb(233, 239, 245);
    box-shadow: 0 1px rgb(192, 201, 210), 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transform: rotateY(0deg);
}

.charsheet .sheet-coin input:checked ~ .sheet-coin-content {
    transform: rotateY(180deg);
}

/* --------------------------------------------------- */
/* header */
/* --------------------------------------------------- */
.charsheet .sheet-header {
    position: relative;
    padding: 1rem;
    background-color: rgb(42, 31, 26);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/header_frame.jpg");
    border-image-slice: 100 130 fill;
    border-image-width: 4rem;
    border-image-repeat: stretch;
}

.charsheet .sheet-header .sheet-section + .sheet-section {
    margin-top: 1rem;
}

.charsheet .sheet-header-character,
.charsheet .sheet-header-player,
.charsheet .sheet-header-hitpoints span, .charsheet .sheet-header-hitpoints input {
    color: rgb(150, 150, 150);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.charsheet .sheet-header input {
    width: 100%;
}

.charsheet .sheet-header span[title] {
    text-decoration: underline dashed rgb(150, 150, 150);
    cursor: help;
}

.charsheet .sheet-header-character {
    font-size: 180%;
    height: 2rem;
    line-height: 2rem;
    font-family: "Dancing Script", "Patrick Hand", sans-serif;
}

.charsheet .sheet-header-player {
    height: 2rem;
    line-height: 2rem;
}

.charsheet .sheet-header-hitpoints table {
    max-width: 16rem;
}

.charsheet .sheet-header-hitpoints table th {
    text-align: right;
}

.charsheet .sheet-header-hitpoints th span {
    display: inline-block;
    line-height: 1.5rem;
    height: 1.7rem;
}

/* --------------------------------------------------- */
/* content */
/* --------------------------------------------------- */
.charsheet .sheet-content.section {
    margin-bottom: 2rem;
}

/* tab */
.charsheet .sheet-content-menu {
    display: block;
    height: 2.125rem;
    background-color: rgb(50, 36, 37);
    border: 2px solid rgb(50, 50, 50);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/menu_background.jpg");
    border-image-slice: 38 fill;
    border-image-width: 2.4rem;
    border-image-repeat: round;
}

/* width =  100 / 8 */
.charsheet .sheet-content-slider {
    display: block;
    position: absolute;
    top: 0;
    min-width: 6rem;
    width: 12.5%;
    max-width: 12rem;
    height: 2.125rem;
    background-image: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/menu_slider.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    z-index: 1;
    transform: translateX(-50%);
    transition: left 0.25s ease-out;
    left: 6.25%;
}

/* left = x  * ( 100 / 8 ) + 100 / 16  */
.charsheet .sheet-content > input:checked:nth-of-type(1) ~ .sheet-content-slider { left: 6.25%; }
.charsheet .sheet-content > input:checked:nth-of-type(2) ~ .sheet-content-slider { left: 18.75%; }
.charsheet .sheet-content > input:checked:nth-of-type(3) ~ .sheet-content-slider { left: 31.25%; }
.charsheet .sheet-content > input:checked:nth-of-type(4) ~ .sheet-content-slider { left: 43.75%; }
.charsheet .sheet-content > input:checked:nth-of-type(5) ~ .sheet-content-slider { left: 56.25%; }
.charsheet .sheet-content > input:checked:nth-of-type(6) ~ .sheet-content-slider { left: 68.75%; }
.charsheet .sheet-content > input:checked:nth-of-type(7) ~ .sheet-content-slider { left: 81.25%; }
.charsheet .sheet-content > input:checked:nth-of-type(8) ~ .sheet-content-slider { left: 93.75%; }

.charsheet .sheet-content > input, .charsheet .sheet-content > label {
    width: 14.2851426%;
    height: 2.125rem;
}

/* left = x * ( 100 / 8 ) */
.charsheet .sheet-content > input:nth-of-type(1) { left: 0; }
.charsheet .sheet-content > input:nth-of-type(2) { left: 12.5%; }
.charsheet .sheet-content > input:nth-of-type(3) { left: 25%; }
.charsheet .sheet-content > input:nth-of-type(4) { left: 37.5%; }
.charsheet .sheet-content > input:nth-of-type(5) { left: 50%; }
.charsheet .sheet-content > input:nth-of-type(6) { left: 62.5%; }
.charsheet .sheet-content > input:nth-of-type(7) { left: 75%; }
.charsheet .sheet-content > input:nth-of-type(8) { left: 87.5%; }

.charsheet .sheet-content > label {
    min-width: 6.25rem;
    max-width: 12.5rem;
    text-align: center;
    color: rgb(159, 128, 73);
    font-size: 90%;
    line-height: 2rem;
    transform: translateX(-50%);
    z-index: 2;
    font-weight: bold;
    transition: color 0.35s ease;
}

.charsheet .sheet-content > label:nth-of-type(1) { left: 6.25%; }
.charsheet .sheet-content > label:nth-of-type(2) { left: 18.75%; }
.charsheet .sheet-content > label:nth-of-type(3) { left: 31.25%; }
.charsheet .sheet-content > label:nth-of-type(4) { left: 43.75%; }
.charsheet .sheet-content > label:nth-of-type(5) { left: 56.25%; }
.charsheet .sheet-content > label:nth-of-type(6) { left: 68.75%; }
.charsheet .sheet-content > label:nth-of-type(7) { left: 81.25%; }
.charsheet .sheet-content > label:nth-of-type(8) { left: 93.75%; }

.charsheet .sheet-content > input:hover:nth-of-type(1) ~ label:nth-of-type(1),
.charsheet .sheet-content > input:hover:nth-of-type(2) ~ label:nth-of-type(2),
.charsheet .sheet-content > input:hover:nth-of-type(3) ~ label:nth-of-type(3),
.charsheet .sheet-content > input:hover:nth-of-type(4) ~ label:nth-of-type(4),
.charsheet .sheet-content > input:hover:nth-of-type(5) ~ label:nth-of-type(5),
.charsheet .sheet-content > input:hover:nth-of-type(6) ~ label:nth-of-type(6),
.charsheet .sheet-content > input:hover:nth-of-type(7) ~ label:nth-of-type(7) {
    color: rgb(255, 255, 255);
}

.charsheet .sheet-content > input:checked:nth-of-type(1) ~ label:nth-of-type(1),
.charsheet .sheet-content > input:checked:nth-of-type(2) ~ label:nth-of-type(2),
.charsheet .sheet-content > input:checked:nth-of-type(3) ~ label:nth-of-type(3),
.charsheet .sheet-content > input:checked:nth-of-type(4) ~ label:nth-of-type(4),
.charsheet .sheet-content > input:checked:nth-of-type(5) ~ label:nth-of-type(5),
.charsheet .sheet-content > input:checked:nth-of-type(6) ~ label:nth-of-type(6),
.charsheet .sheet-content > input:checked:nth-of-type(7) ~ label:nth-of-type(7) {
    color: rgb(255, 255, 255);
}

.charsheet .sheet-content > label span {
    display: inline-block;
    color: inherit;
    font-size: inherit;
}

.charsheet .sheet-content > div {
    min-height: 40rem;
    background-color: rgb(42, 31, 26);
    border: 0.5rem solid rgb(20, 20, 20);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/body_frame.jpg");
    border-image-slice: 100 130 fill;
    border-image-width: 4rem;
    border-image-repeat: round;
    padding: 1.7rem;
}

/* content */
.charsheet .sheet-paper {
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/sheets.png");
    border-image-slice: 110 fill;
    border-image-width: 7rem;
    border-image-repeat: stretch;
    padding: 2rem;
    min-height: 30rem;
}

.charsheet .sheet-paper h1 {
    text-align: center;
    color: rgb(164, 82, 58);
    font-size: 150%;
    line-height: 1.8rem;
    margin: 0 0 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 1px rgb(164, 82, 58);
}

.charsheet .sheet-paper h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.625rem;
    background: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/title.png") center no-repeat;
    background-size: contain;
}

.charsheet .sheet-paper input,
.charsheet .sheet-paper select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.charsheet .sheet-paper .sheet-section {
    margin-bottom: 3rem;
}

.charsheet .sheet-paper table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.charsheet .sheet-paper table thead th {
    background-color: rgba(0, 0, 0, 0.04);
    text-align: center;
}

.charsheet .sheet-paper table th span {
    display: inline-block;
    line-height: 1.5rem;
    height: 1.5rem;
    font-size: 105%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.charsheet .sheet-paper table td {
    padding: 0.2rem;
}

.charsheet .sheet-paper input,
.charsheet .sheet-paper select {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0;
}

.charsheet .sheet-paper input:disabled, .charsheet .sheet-paper input[type="text"].sheet-disabled {
    background: transparent repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(0, 0, 0, 0.04) 2px, rgba(0, 0, 0, 0.04) 7px);
    border: none;
}

.charsheet .sheet-paper input.sheet-text-strong:disabled, .sheet-paper input[type="text"].sheet-text-strong.sheet-disabled {
    background: rgba(0, 0, 0, 0.04);
    border: none;
}

.charsheet .sheet-paper textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 0.25rem;
    resize: vertical;
    min-height: calc(2.5rem + 2 * 1rem);
    height: calc(2rem + 2 * 1rem);
    padding: 0.5rem;
    line-height: 1.5rem;
}

.charsheet .sheet-paper span[title]:not(.sheet-alert) {
    text-decoration: underline dashed;
    text-decoration-color: inherit;
    cursor: help;
}

.charsheet .sheet-paper .sheet-input-group.sheet-disabled {
    background: transparent repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(0, 0, 0, 0.04) 2px, rgba(0, 0, 0, 0.04) 7px);
}

.charsheet .sheet-paper .sheet-input-group.sheet-disabled input,
.charsheet .sheet-paper .sheet-input-group.sheet-disabled select {
    background: none !important;
}

/* took 8rem as colomn width for reference */
/* character */
.charsheet .sheet-character-level table {
    max-width: 24rem;
}

.charsheet .sheet-character-hitpoints {
    max-width: 32rem;
    margin-bottom: 1rem;
}

.charsheet .sheet-character-background {
    max-width: 32rem;
    margin-bottom: 1rem;
}

.charsheet .sheet-character-physical {
    max-width: 32rem;
}

.charsheet .sheet-character-size-and-weight-summary {
    max-width: 16rem;
    margin-bottom: 1rem;
}

.charsheet .sheet-character-size-and-weight {
    max-width: 32rem;
}

.charsheet .sheet-character-stat table {
    max-width: 72rem;
}

.charsheet .sheet-character-movement table {
    max-width: 56rem;
}

.charsheet .sheet-character-class {
    max-width: 96rem;
}

/* battle */
.charsheet .sheet-initiative table {
    max-width: 24rem;
}

.charsheet .sheet-cmb table {
    max-width: 56rem
}

.charsheet .sheet-battle {
    max-width: calc(2rem + 2rem + 56rem);
}

.charsheet .sheet-battle-note {
    min-height: 6rem;
    margin-bottom: 1rem;
}

.charsheet .sheet-battle-roll,
.charsheet .sheet-battle-roll button {
    width: 2rem;
}

.charsheet .sheet-battle-roll > button {
    margin-top: 1rem;
}

.charsheet .sheet-battle-content {
    margin-bottom: 1rem;
}

.charsheet .sheet-battle-label {
    max-width: 56rem;
}

.charsheet .sheet-battle-name {
    border: none !important;
}

.charsheet .sheet-battle-subcontent table {
    margin-bottom: 1rem;
}

.charsheet .sheet-battle-table-roll {
    max-width: 56rem;
}

.charsheet .sheet-battle-table-damage {
    max-width: 56rem;
}

.charsheet .sheet-battle-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.5rem 0.5rem;
    padding: 0;
}

.charsheet .sheet-battle-controls > li {
    list-style: none;
    margin: 0 0.5rem 0.5rem;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.charsheet .sheet-battle-subcontent-note {
    min-height: 6rem;
    max-width: 56rem;
}

/* magic */
.charsheet .sheet-cl table {
    max-width: 24rem;
}

.charsheet .sheet-contact-attack table {
    max-width: 72rem;
}

.charsheet .sheet-spell-summary table {
    max-width: 80rem;
}

.charsheet .sheet-grimoire {
    max-width: calc(80rem + 5.4rem);
    margin-left: -2rem;
    margin-right: -3rem;
    margin-bottom: -1.6rem !important;
}

.charsheet .sheet-grimoire .sheet-tab {
    padding-left: 1rem;
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/sheets-static.png");
    border-image-slice: 100 fill;
    border-image-width: 6.25rem;
    border-image-repeat: stretch;
}

.charsheet .sheet-grimoire .sheet-tab > input,
.charsheet .sheet-grimoire .sheet-tab > label {
    left: -1rem;
    width: 2rem !important;
    height: 3rem !important;
}

.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(1), .sheet-grimoire .sheet-tab > label:nth-of-type(1) { top: 4rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(2), .sheet-grimoire .sheet-tab > label:nth-of-type(2) { top: 7.1rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(3), .sheet-grimoire .sheet-tab > label:nth-of-type(3) { top: 10.2rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(4), .sheet-grimoire .sheet-tab > label:nth-of-type(4) { top: 13.3rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(5), .sheet-grimoire .sheet-tab > label:nth-of-type(5) { top: 16.4rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(6), .sheet-grimoire .sheet-tab > label:nth-of-type(6) { top: 19.5rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(7), .sheet-grimoire .sheet-tab > label:nth-of-type(7) { top: 22.6rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(8), .sheet-grimoire .sheet-tab > label:nth-of-type(8) { top: 25.7rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(9), .sheet-grimoire .sheet-tab > label:nth-of-type(9) { top: 28.8rem; }
.charsheet .sheet-grimoire .sheet-tab > input:nth-of-type(10), .sheet-grimoire .sheet-tab > label:nth-of-type(10) { top: 31.9rem; }

.charsheet .sheet-grimoire .sheet-tab > label {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: rgb(176, 162, 131);
    line-height: 3rem;
    text-align: center;
}

.charsheet .sheet-grimoire .sheet-tab > label span {
    color: inherit;
    text-decoration-color: inherit;
}

.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(1) ~ label:nth-of-type(1),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(2) ~ label:nth-of-type(2),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(3) ~ label:nth-of-type(3),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(4) ~ label:nth-of-type(4),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(5) ~ label:nth-of-type(5),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(6) ~ label:nth-of-type(6),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(7) ~ label:nth-of-type(7),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(8) ~ label:nth-of-type(8),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(9) ~ label:nth-of-type(9),
.charsheet .sheet-grimoire .sheet-tab > input:checked:nth-of-type(10) ~ label:nth-of-type(10) {
    left: -0.5rem;
    color: white;
    text-decoration-color: white;
    background-color: green;
}

.charsheet .sheet-grimoire .sheet-tab > div {
    min-height: 39rem;
    padding: 2rem 3rem 2.7rem 1rem;
}

.charsheet .sheet-spell-failure table {
    max-width: 8rem;
}

.charsheet .sheet-spell {
    margin-bottom: 1rem;
}

.charsheet .sheet-spell-roll,
.charsheet .sheet-spell-roll button {
    width: 2rem;
}

.charsheet .sheet-spell-roll button {
    margin-top: 1rem;
}

.charsheet .sheet-spell-name {
    border: none;
}

.charsheet .sheet-spell table {
    margin-bottom: 1rem;
}

.charsheet .sheet-spell-total {
    max-width: 24rem;
}

.charsheet .sheet-spell-dd {
    max-width: 24rem;
}

.charsheet .sheet-spell-school {
    max-width: 24rem;
}

.charsheet .sheet-spell-save {
    max-width: 16rem;
}

.charsheet .sheet-spell-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.5rem 0.5rem;
    padding: 0;
}

.charsheet .sheet-spell-controls > li {
    list-style: none;
    margin: 0 0.5rem 0.5rem;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.charsheet .sheet-spell-note {
    min-height: 12.3rem;
}

.charsheet .sheet-spell-aside {
    max-width: 16rem;
}

.charsheet .sheet-spell-aside table:last-child {
    margin-bottom: 0;
}

/* defense */
.charsheet .sheet-defense-saves table {
    max-width: 64rem;
}

.charsheet .sheet-defense-ac {
    max-width: 24rem;
    margin-bottom: 1rem;
}

.charsheet .sheet-defense-ac-detail {
    max-width: 64rem;
}

.charsheet .sheet-cmd table {
    max-width: 72rem;
}

.charsheet .sheet-magic-resistance table {
    max-width: 48rem;
}

/* skills */
.charsheet .sheet-skill-summary table {
    max-width: 16rem;
}

.charsheet .sheet-skill {
    max-width: 80rem;
}

.charsheet .sheet-skill-note {}

/* feat */
.charsheet .sheet-featracial {}

.charsheet .sheet-featracial-content {
    margin-bottom: 1rem;
}

.charsheet .sheet-featracial-label {
    border-bottom: none !important;
}

.charsheet .sheet-featracial-description {
    min-height: 15rem;
    height: 15rem;
}

.charsheet .sheet-feat {}

.charsheet .sheet-feat-content {
    margin-bottom: 1rem;
}

.charsheet .sheet-feat span {
    display: inline-block;
}

.charsheet .sheet-feat-description-short {
    border-bottom: none !important;
    margin-top: 0.5rem !important;
}

.charsheet .sheet-feat-description {
    min-height: 15rem;
    height: 15rem;
}

/* inventory */
.charsheet .sheet-inventory-purse table {
    max-width: 32rem;
}

.charsheet .sheet-inventory-purse .sheet-currency {
    display: inline-block;
    text-align: center;
    font-size: 75%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1rem !important;
    border: 2px solid transparent;
    border-radius: 100%;
}

.charsheet .sheet-inventory-purse .sheet-currency-platinum {
    background-color: rgb(212, 221, 230);
    border-color: rgb(233, 241, 247);
    color: rgb(253, 255, 255);
    box-shadow: 0 1px rgb(212, 221, 230), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.charsheet .sheet-inventory-purse .sheet-currency-gold {
    background-color: rgb(207, 181, 59);
    border-color: rgb(255, 200, 46);
    color: rgb(240, 196, 27);
    box-shadow: 0 2px rgb(207, 181, 59), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.charsheet .sheet-inventory-purse .sheet-currency-silver {
    background-color: rgb(192, 201, 210);
    border-color: rgb(213, 221, 227);
    color: rgb(233, 239, 245);
    box-shadow: 0 1px rgb(192, 201, 210), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.charsheet .sheet-inventory-purse .sheet-currency-copper {
    background-color: rgb(223, 144, 97);
    border-color: rgb(251, 201, 166);
    color: rgb(251, 213, 188);
    box-shadow: 0 1px rgb(223, 144, 97), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.charsheet .sheet-inventory-weight table {
    max-width: 32rem;
}

.charsheet .sheet-weight-charge {
    width: 100%;
    height: 0.5rem;
}

.sheet-weight-charge {
    background: lightgrey;
    width: 100%;
}

.sheet-weight-charge:-moz-meter-optimum::-moz-meter-bar {
    background:red;
}

.sheet-weight-charge:-moz-meter-sub-optimum::-moz-meter-bar {
    background: orange;
}

.sheet-weight-charge:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: green;
}

.charsheet .sheet-inventory-weapon {
    max-width: 72rem;
}

.charsheet .sheet-inventory-weapon-content select {
    width: 3.75rem !important;
}

.charsheet .sheet-inventory-armor {
    max-width: 72rem;
}

.charsheet .sheet-equipement {
    max-width: 32rem;
}

.charsheet .sheet-equipment-magic table {
    max-width: 40rem;
}

.charsheet .sheet-equipment-magic-spacer {
    height: 1rem;
}

.charsheet .sheet-equipment-magic tbody tr td:first-child {
    text-align: right;
    padding-right: 0.5rem;
}

/* notes */
.charsheet .sheet-note-content {
    margin-bottom: 1rem;
}

.charsheet .sheet-note-label {
    border-bottom: none !important;
}

.charsheet .sheet-note-description {
    min-height: 15rem;
    height: 15rem;
}

/* --------------------------------------------------- */
/* option */
/* --------------------------------------------------- */
.charsheet .sheet-option {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.charsheet .sheet-option-checkbox {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.charsheet .sheet-option-label {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 1.8rem;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.charsheet .sheet-option-content {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgb(77,57,42);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/modal.png");
    border-image-slice: 60 fill;
    border-image-width: 2rem;
    border-image-repeat: stretch;
    padding: 0.5rem 1.8rem 1.8rem;
    transform: translate(0, calc(100% + 0.5rem) );
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgb(20, 20, 20);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease;
}

.charsheet .sheet-option-checkbox:checked ~ .sheet-option-content {
    opacity: 1;
    visibility: visible;
}

.charsheet .sheet-option-content h1 {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 100%;
    line-height: 2.1rem;
    height: 1.7rem;
    margin: 0 0 0.5rem;
    font-weight: bold;
}

.charsheet .sheet-option-content input {
    line-height: 1.5rem;
    color: rgb(150, 150, 150);
}

.charsheet .sheet-option-content ul {
    padding: 0;
    margin: 0;
}

.charsheet .sheet-option-content li {
    list-style: none;
    width: 12rem;
    margin-bottom: 0.5rem;
}


/* --------------------------------------------------- */
/* status */
/* --------------------------------------------------- */
.charsheet .sheet-status {
    position: relative;
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
    background: rgb(30, 30, 30);
    border-radius: 0.25rem;
}

.charsheet .sheet-status-checkbox {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100% !important;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.charsheet .sheet-status-label {
    display: inline-block;
    width: 100% !important;
    height: 1.8rem;
    line-height: 1.8rem;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

.charsheet .sheet-status-content {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 5;
    width: 42rem;
    background-color: rgb(77,57,42);
    border-image-source: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/modal.png");
    border-image-slice: 60 fill;
    border-image-width: 2rem;
    border-image-repeat: stretch;
    padding: 0.5rem 1.8rem 1.8rem;
    transform: translate(-50%, calc(100% + 0.5rem) );
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgb(20, 20, 20);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease;
}

.charsheet .sheet-status-checkbox:checked ~ .sheet-status-content {
    opacity: 1;
    visibility: visible;
}

.charsheet .sheet-status-content h1 {
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 100%;
    line-height: 2.1rem;
    height: 1.7rem;
    margin: 0 0 0.5rem;
    font-weight: bold;
}

.charsheet .sheet-status-content .sheet-input-group {
    height: 1.7rem;
    margin-bottom: 0.5rem;
}

.charsheet .sheet-status-content ul {
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.charsheet .sheet-status-content li {
    list-style: none;
    width: 12rem;
    margin-bottom: 0.5rem;
}

.charsheet .sheet-status-negative-level .sheet-input-group-text span, .charsheet .sheet-status-negative-level input,
.charsheet .sheet-status-effect {
    color: rgb(150, 150, 150);
}

.charsheet .sheet-status-effect {
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    height: calc(100% - 1.7rem);
    overflow-y: auto;
    padding: 0;
    cursor: default;
}
/* --------------------------------------------------- */
/* rolltemplate */
/* --------------------------------------------------- */
/* generic */
.sheet-rolltemplate-roll * {
    font-family: "Formal 436", "Patrick Hand", sans-serif;
    /* Arial, Patrick Hand, Contrail One, Shadows Into Light, Candal */
    font-size: 1rem;
    color: rgb(56, 61, 65);
}

.sheet-rolltemplate-roll {
    padding: 1rem;
    background: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/paper_rolled.png") no-repeat;
    background-size: 100% 100%;
}

.sheet-rolltemplate-roll p {
    margin: 0;
}

.sheet-rolltemplate-roll span[title]:not(.inlinerollresult ) {
    text-decoration: underline dashed rgb(50, 50, 50);
    cursor: help;
}

.sheet-rolltemplate-roll .inlinerollresult {
    display: inline-block;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-align: center;
    line-height: calc(2.1rem);
    font-weight: bold;
    background-color: rgb(230, 230, 230);
}

/* flex */
.sheet-rolltemplate-roll .sheet-flex-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -0.5rem;
}

.sheet-rolltemplate-roll .sheet-flex-col {
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 0.5rem;
}

.sheet-rolltemplate-roll .sheet-left {
    text-align: left;
}

.sheet-rolltemplate-roll .sheet-right {
    text-align: right;
}

.sheet-rolltemplate-roll .sheet-center {
    text-align: center;
}


.sheet-rolltemplate-roll .sheet-critic .sheet-center {
    background: url("https://raw.githubusercontent.com/aloade/pathfinder/master/image/critic.png") no-repeat;
    background-size: contain;
}

.sheet-rolltemplate-roll .sheet-warning span {
    color: rgb(255, 193, 7);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
    color: rgb(0, 7, 255);
    text-shadow: 0 0 1px rgba(100, 100, 255, 0.75);
    font-weight: bold;
}

.sheet-rolltemplate-roll .sheet-danger span {
    color: rgb(220, 53, 69);
    text-shadow: 0 0 1px rgba(220, 53, 69, 0.5);
    font-weight: bold;
}

/* template - basic */
.sheet-rolltemplate-roll .sheet-basic {}

/* template - battle */
.sheet-rolltemplate-roll .sheet-battle {
    background: url("https://github.com/aloade/pathfinder/raw/master/image/versus.png") no-repeat center;
    background-size: contain;
}

/* template - magic */
.sheet-rolltemplate-roll .sheet-magic {
    background: url("https://github.com/aloade/pathfinder/raw/master/image/pentacle.png") no-repeat center;
    background-size: contain;
}
